.card-img {
  height: 300px;
  object-fit: cover;
  transition: 0.3s;
}

.card:hover {
  .card-img {
    filter: brightness(0.3);
  }
  div {
    a {
      opacity: 1;
    }
  }
}

.card div a {
  opacity: 0;
}
