$primary: #4a773c;
$secondary: #6f4f28;
$warning: #5f9aab;
$success: #f5f5dc;
$font-family-sans-serif: "Raleway", sans-serif !default;
$font-family-serif: "Nunito", serif !default;

@import "../../node_modules/bootstrap/scss/bootstrap";
